.Chat--sider
  .Side--header
    .Side--header__name
      = current_user.name
    .Side--header__menu
      =link_to new_group_path, class: "Side--header__menu__btn--group" do
        = fa_icon 'edit', class: "Side--header__menu__btn--icon"
      =link_to edit_user_path(current_user), class: "Side--header__menu__btn--group" do
        = fa_icon 'cog', class: "Side--header__menu__btn--icon"
  .Groups
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__last
            野球やろう
